@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: #363434;
  background-color: #f2f2f2;
}

form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

h2 {
  margin-bottom: 10px;
}

h2 + p {
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 15px;
}

input,
textarea {
  display: block;
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #363434;
}

label.error > input,
label.error > textarea {
  border-color: #c93434;
}

label > span {
  font-size: 13px;
  color: #c93434;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}

label.error > span {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
}

button {
  background-color: #c1c4d4;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

#date-error {
  margin-bottom: 15px;
  color: #c93434;
  display: none;
}

#date-error.error {
  display: block;
}
